.Page {
	/* The image used */
	background-image: url(../static/login-bg.jpg);

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
